* {
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 100px;
}

/* 拉伸效果 */
.rubberBand {
    animation: rubberBand 2s linear infinite;
}
@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}


/* 闪烁效果 */
.flush {
    animation: flush 1s linear infinite;
}

@keyframes flush {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* 上下摆动 */
.swing {
    animation: swing 2s linear infinite;
}

@keyframes swing {
    20% {
        transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
        transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
        transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
        transform: rotate3d(0, 0, 1, -5deg);
    }
    to {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

