<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <style></style> -->
    <!-- <style ></style> -->
    <!-- <style re></style> -->
    <link rel="stylesheet" href="../../css/public.css">

    <title>拖拽</title>
    <style>
    .label {
        width: 200px;
        margin-right: 5px;
    }

    .add, .del {
        font-size: 22px;
    }

    .del {
        transform: rotate(45deg);
    }

    *[draggable = true] {
        -khtml-user-drag: element;
    }

    li {
        position: relative;
    }

    .subType {
        height: 350px;
        overflow: hidden;
        width: 146px;
    }

    .subType_inner {
        overflow: auto;
        height: 350px;
        width: 175px;
    }

    .parent3 {
        height: 400px;
        overflow: auto;
        margin: 0;
    }

    .parent3 li {
        display: block !important;
    }

    .check1, .check2 {
        background: #1890ff;
        border-radius: 4px;
        color: fff;
    }

    .parent4 {
        height: 80px;
        overflow: auto;
    }

    .parent2 {
        height: 100%;
        overflow: auto;
    }

    </style>
</head>
<body>
    <div id="app">
        <ul ref="parent" style="width:300px;">
            <li class="myli" v-for="(item,index) in list" :id="index" draggable="true" @dragstart="dragstart($event)" @dragover="dragover($event)"@drop="drop($event)">{{item.name}}</li>
        </ul>
        <ul style="width:300px;">
            <li class="myli" v-for="(item,index) in list" :id="index" draggable="true" @dragstart="dragstart2($event)" @dragover="dragover2($event)"@drop="drop2($event)">{{item.name}}</li>
        </ul>
        <button type="button">
            clickMe!
        </button>
    </div>
    <script src="../../js/vue.js"></script>
    <script>
    new Vue({
        el:"#app",
        data:{
            is_show_goods: true,
           is_show_add: true,
            // 拖拽
           moveDom: "",
           startX: 0,
           changeDom: "",
           endX: 0,

           first_add: true,
           first_text: '',
           secend_add: false,
           secend_text: '',

           index1: 0,
           index2: null,
           update_child: true,
           category: {
                categories: [
                    {
                        id: 1,
                        name: '冻品',
                        child: [
                            {
                                id: '1',
                                name: '秋刀鱼',
                            },
                            {
                                id: '1',
                                name: '秋刀鱼',
                            }
                        ]
                    }
                ],
                products: [
                    {
                        id: '1',
                        name: '无非类产品1'
                    },
                    {
                        id: '1',
                        name: '无非类产品2'
                    },
                    {
                        id: '1',
                        name: '无非类产品3'
                    },
                    {
                        id: '1',
                        name: '无非类产品4'
                    }
                ]
           }

        },
        methods:{
            dragstart(e){
                var eo = e || event;
                this.moveDom = eo.currentTarget;
                this.startX = eo.clientX;
                this.startY = eo.clientY;
            },
            a(e) {
                var eo = e || event;
                this.moveDom = eo.currentTarget
                this.startX = eo.clientX
                this.startY = eo.clientY
            },
            b(e) {
                var eo = e || event
                eo.preventDefault()
                this.changeDom = eo.currentTarget
                this.endX = eo.clientX
                this.endY = eo.clientY
                console.log(this.moveDom , 'moveDom', this.changeDom + 'changeDom', this.changeDom.nextSibling + 'nextSiblings', '??')
                if (this.endX - this.startX >= 0) {
                    this.$refs.parent.insertBefore(this.moveDom, this.changeDom.nextSibling)
                } else {
                    this.$refs.parent.insertBefore(this.moveDom, this.changeDom)
                }
            },
            c(e) {
                const that = this
                var eo = e || event
                eo.preventDefault()
                this.changeDom = eo.currentTarget
                // this.
            },
            dragover(e){
                var eo = e || event;
                eo.preventDefault();
                this.changeDom = eo.currentTarget;
                this.endX = eo.clientX;
                this.endY = eo.clientY;
                
                console.log(this.moveDom , 'moveDom', this.changeDom , 'changeDom', this.changeDom.nextSibling , 'nextSiblings', '??')
                

            /* eslint-disable */
                if (this.moveDom.parentNode.id == 'parent4' && this.changeDom.parentNode.id == 'parent3') {
                } else  if (this.moveDom.parentNode.id != this.changeDom.parentNode.id) {
                    return;
                }
            
                if(this.endX - this.startX >= 0){
                    this.$refs[parent].insertBefore(this.moveDom, this.changeDom.nextSibling);
                } else {
                    this.$refs[parent].insertBefore(this.moveDom, this.changeDom)
                }
            
            },
            drop(e){
                var eo = e || event;
                eo.preventDefault();
                this.changeDom = eo.currentTarget;
            
                if (this.changeDom.parentNode.id == 'parent1' && this.moveDom.parentNode.id == 'parent1') {
                    this.changeCation(1, this.changeDom.parentNode.id)
                }
            },

            dragstart2(e){
                var eo = e || event;
                this.moveDom = eo.currentTarget;
                this.startX = eo.clientX;
                this.startY = eo.clientY;
            },
            dragover2(e){
                var eo = e || event;
                eo.preventDefault();
                this.changeDom = eo.currentTarget;
                this.endX = eo.clientX;
                this.endY = eo.clientY;
            },
            drop2(e){
                const that = this;
                var eo = e || event;
                eo.preventDefault();
                this.changeDom = eo.currentTarget;
               
                this.endX = eo.clientX;
            }
        }
    })

    </script>
</body>
</html>