<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>父子间传参</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id='app'>
        <todo></todo>
    </div>
    <template id='todo'>
        <div class='todo'>
            <h2>事物代办所</h2>
            <todo-add @add="additem"></todo-add>
            <todo-list :tasks="tasks"></todo-list>
        </div>
    </template>

    <template id='todo-add'>
        <div class='todo-add'>
            <input type="text" v-model="value">
            <button type="button" @click="add">添加</button>
        </div>
    </template>

    <template id='todo-list'>
        <div class='todo-list'>
            <todo-item @del="delparent" v-for="(task, i) of tasks" :i="i" :task="task"></todo-item>
        </div>
    </template>
    <template id='todo-item'>
        <div class='todo-item'>
            <li>
             {{i + 1}} ---{{task}} <button @click="del(i)">删除</button>
            </li>
        </div>
    </template>

    <script>
        var todoAdd = {
            template: "#todo-add",
            data() {
                return {
                    value: ''
                }
            },
            methods: {
                add() {
                    if (this.value == '') return;
                    this.$emit("add", this.value)
                    this.value = '';
                }
            },
        }
        var todoItem =  {
            template: "#todo-item",
            data() {
                return {                    
                }
            },
            methods: {
                del(i) {
                    this.$emit("del", this.i)
                }
            },
            props: ["task", 'i']
        }
        var todoList = {
            template: "#todo-list",
            data() {
                return {
                }
            },
            components: {
                todoItem
            },
            methods: {
                delparent(index) {
                    console.log(index)
                     this.tasks.splice(index, 1);
                }
            },
            props:['tasks'],
        }
        Vue.component("todo", {
            template: "#todo",
            data() {
                return {
                    tasks: ['吃饭', '睡觉', '打代码']
                }
            },
            methods: {
                additem(value) {
                    this.tasks.push(value);
                }
            },
            components: {
                todoAdd,
                todoList
            }
        })
      
     
        new Vue({
            el: "#app",
            data: {}
        })
    </script>
</body>
</html>